body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "McLaren", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  background-color: #f5ba13;
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  padding-top: 15px;
}

.plus{
  padding-right: 15px;
}

.Note{
  height: 150px;
  width: 200px;
  box-shadow: black 0px 0px 10px;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.notes{
  display: flex;
}
.delete{
  background-color: #f5ba13;
  color: white;
  justify-content: left;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  margin-left: 110px;
  justify-content: center;
  align-items: center;
}
.delete i{
  margin-left: 3px;
}