* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: rgb(66, 92, 114);
}

.main-contain {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(190, 235, 220);
    display: flex;
    margin: auto;
    padding: .8rem;
    height: calc(100vh - 2rem);
    width: 90%;
}

.detail {
    flex: auto;
}



footer {
    display: flex;
    height: 2rem;
}